a,
.link {
  color: #3d3d3d;
}
a:hover {
  color: #242424;
}
.banner {
  font-weight: bold;
  line-height: 20px;
  margin: 0 auto;
}
body {
  background: url("../img/white-sand.png");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.widget {
  color: #ccc;
  background-color: #ddd;
}
.widget:before {
  content: "Toi la Nghia";
}
.widget {
  width: 9%;
}
p {
  color: red;
}
p:hover {
  color: #cc0000;
}
